body {
  background-color: #f3f5fc;
  font-family: "Inter", sans-serif;
}
header {
  position: absolute;
  width: 10%;
}
main {
  height: 600px;
  margin: 2% 5%;
  align-items: center;
}
div {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  box-sizing: border-box;
}
.entrada {
  width: 70%;
  height: 100%;
  padding: 8% 5% 0;
  margin: auto;
  text-align: left;
}
.entrada textarea {
  background-color: #f3f5fc;
  color: #0a3871;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  border: 0px;
  width: 100%;
  height: 80%;
}
::placeholder {
  color: #0a3871;
}
.alerta {
  font-size: 0.8rem;
  color: #495057;
}
button {
  font-size: 1.2rem;
  width: 45%;
  padding: 1rem;
  border-radius: 15px;
  color: #0a3871;
  border: 2px solid #0a3871;
}
.cripto {
  margin: 2% 2% 2% 0;
  color: #ffffff;
  background-color: #0a3871;
}
.descripto {
  margin: 2% 0 2% 2%;
  background-color: #d8dfe8;
}
.saida {
  background-color: #ffffff;
  margin: 0 2%;
  width: 25%;
  height: 100%;
  border-radius: 32px;
  box-shadow: -5px 10px 20px #d8dfe8;
}
.semMensagem {
  height: 100%;
  padding: 35% 2%;
  align-self: center;
}
.saida img {
  width: 80%;
}
.saida h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
  color: #343a40;
}
.saida p {
  margin: 1rem 0 0;
  line-height: 1.5rem;
  color: #343a40;
}
.comMensagem {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 15% 10%;
  font-size: 1.5rem;
  text-align: justify;
  color: #495057;
}
.copiar {
  position: absolute;
  bottom: 5%;
  left: 10%;
  width: 80%;
  background-color: #ffffff;
}
button:hover {
  border: 3px solid #0a3871;
  font-weight: bolder;
  box-shadow: -2px 5px 20px #6b6f74;
}
button:active {
  border: 2px solid #0a3871;
  font-weight: normal;
  box-shadow: none;
}

/* Estilo Rodapé */
footer {
  padding: 3% 4%;
  background-color: #d8dfe8;
}
.icones {
  width: 100%;
  align-items: center;
}
.perfil {
  border-radius: 50%;
  height: 6rem;
}
.contato {
  vertical-align: bottom;
  align-items: center;
  width: 15%;
}
.github,
.linkedin {
  height: 4rem;
  border-radius: 50%;
  margin: 0 3%;
}
.github:hover,
.linkedin:hover {
  -webkit-filter: brightness(70%);
}
.copyright {
  color: #343a40;
  text-align: center;
  margin: 2% 0;
}
